/node_modules
/public/hot
/public/storage
/public/dist
/public/dist/index.html
/storage/*.key
/public/dist
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js
/public/css
frontend/package-lock.json
package-lock.json
resources/frontend/node_modules
.vagrant/machines/vixory/virtualbox/synced_folders
.vagrant/machines/vixory/virtualbox/creator_uid
.vagrant/machines/vixory/virtualbox/box_meta
.vagrant/machines/vixory/virtualbox/action_set_name
.vagrant/hostmanager/id
.vagrant/bundler/global.sol
.vagrant/rgloader/loader.rb
.vagrant/machines/vixory/virtualbox/vagrant_cwd
.vagrant/machines/vixory/virtualbox/index_uuid
.vagrant/machines/vixory/virtualbox/id
.vagrant/machines/vixory/virtualbox/action_provision
.vagrant/machines/vixory/virtualbox/private_key

.idea/modules.xml

.idea/php.xml

.idea/phpunit.xml

.idea/vcs.xml

.idea/vixory.iml

.idea/workspace.xml
