// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$accent: #DEAE53;
$accent-light: #F5E4AB;
$accent-dark: #BA8E52;

$black: #231F20;

$gray: #EDEDED;
$gray-alt1:#808080;
$gray-alt2:#525252;
$gray-alt3:#A2A2A2;